<div>
  <%= flash[:notice] %>
</div>
    <div class="col-md-12">
      <div class="cover-text text-center">
      <h1>GamersCommunity</h1>
        <p>ようこそ、GamersCommunityへ！</p>
        <p>このサイトは、ゲームに関するコミュニティーサイトです。</p>
        <p>気になるゲームやおすすめしたいゲームに関して投稿し、</p>
        <p>他の方と交流することができます。</p>
      </div>
    </div>
  <div class="container">
    <div class="text-center">
      <%= link_to "新規登録", new_user_registration_path, class: "btn btn-success mb-3" %>
      <%= link_to "ログイン", new_user_session_path, class: "btn btn-info mb-3 sign_in" %>
    </div>
  </div>
